body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}

.header-banner {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  background-color: #EBDAC5;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


h1 {
  font-family: 'Geomanist, Helvetica Neue, Helvetica', sans-serif;
  font-weight: 600;
  margin: 10px;
  text-transform: uppercase;
}



a {
  text-decoration: none;
  font-family: 'Geomanist, Helvetica Neue, Helvetica', sans-serif;
  font-weight: 400;
}




.introduction {
  background-color: white;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #5a7ab6;

  @media screen and (min-width: 961px) {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 380px;
    max-width: 130ch;
    height: 80px;
  }

}

.CID-logo { 
  padding-right: 45px;
  height: 110px;
  width: 290px;
}


.case-studies {
  background:#0d3951;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;

  @media screen and (min-width: 481px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 961px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.card{  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  background-color: #EBDAC5;
  margin: 12px;
  padding: 0.5em;
  border-radius: 5px;
  max-width: 300px;
  height: 320px;
  box-shadow: 0.125rem 0 0 rgba(7,7,33,.15);
}



.card-img {
  border-radius: 5px;
  height: 160px;
  width: 300px;
  object-fit: cover;
  object-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: black;
}



.tags {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  gap: 10px;
  color: white;
  font-family: 'Geomanist,Helvetica Neue,Helvetica,sans-serif';
  font-size: 13px;
  line-height: 1;
}


.process{
  display: flex;
  background-color: #287999;
  border-radius: 10px;
  height: 20px;
  width: auto;
  padding: 4px;
  box-shadow: 0 3px 0 rgba(7,7,33,.15);
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.participatie {
  display: flex;
  background-color: #D13476;
  border-radius: 10px;
  height: 20px;
  width: auto;
  padding: 4px;
  box-shadow: 0 3px 0 rgba(7,7,33,.15);
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.uitvoering {
  display: flex;
  background-color: #75277C;
  border-radius: 10px;
  height: 20px;
  width: auto;
  padding: 4px;
  box-shadow: 0 3px 0 rgba(7,7,33,.15);
  justify-content: center;
  align-items: center;
  font-weight: 600;
}


