* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-text-secondary);
}

.header-banner{
  background: var(--color-secondary);
  display: flex;
  flex-direction: row;
  position: relative;
  height: 95px;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.296);
}

.introduction{
  background-color: var(--color-text-primary);
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

    @media screen and (min-width: 961px) {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 380px;
    height: 80px;
  }
}

.CID-logo { 
  padding-right: 45px;
  height: 110px;
  width: 290px;
}


h1 {
  font-size: clamp(2.25rem, 1.0141rem + 5.0704vw, 4.5rem);
  font-weight: 600;
  margin: 10px;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(1.25rem, 1.1127rem + 0.5634vw, 1.5rem);
  font-weight: var(--font-weight-light);
  max-width: 75ch;
  color: var(--color-highlight);
  margin-top: 10px;
}

h3{
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

a {
  text-decoration: none;
}


.case-studies {
  background: var(--color-primary);
  box-shadow: 0px -3px 5px -1px rgba(0, 0, 0, 0.296);
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: 1fr;
  row-gap: 10px;

  @media screen and (min-width: 481px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 961px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}


.card{  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  background-color: var(--color-secondary);
  margin: 12px;
  padding: 0.5em;
  border-radius: 5px;
  max-width: 300px;
  height: 320px;
  box-shadow: 0.125rem 0 0 rgba(7,7,33,.15);
}


.card-img {
  border-radius: 5px;
  height: 160px;
  width: 275px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5px;
}
.card{
  transition: transform 0.4s ease;
}

.card:hover{
  transform: scale(1.1);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-secondary);
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  line-height: 1;
}


.process{
  display: flex;
  background-color: var(--color-primary);
        border: 2px solid var(--color-primary);
        color: var(--color-text-primary);
  height: 20px;

  padding: 4px;
  box-shadow: 0 3px 0 rgba(7,7,33,.15);
  justify-content: center;
  align-items: center;
  font-size: 14px;
  
}

.participatie {
  display: flex;
 background-color: var(--color-tertiary);
        border: 2px solid var(--color-tertiary); 
        color: var(--color-text-primary);
  height: 20px;
  width: auto;
  padding: 4px;
  box-shadow: 0 3px 0 rgba(7,7,33,.15);
  justify-content: center;
  align-items: center;
font-size: 14px;
}

.uitvoering {
  display: flex;
  background-color: var(--color-highlight);
        color: var(--color-text-secondary);
        border: 2px solid var(--color-highlight);

  height: 20px;
  width: auto;
  padding: 4px;
  box-shadow: 0 3px 0 rgba(7,7,33,.15);
  justify-content: center;
  align-items: center;
font-size: 14px;
}

