* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  display: block;
  background-color: var(--color-primary);
}

.header-banner {
  display: flex;
  flex-direction: row;
  height: 95px;
  width: 100%;
  background-color: #EBDAC5;
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.296);
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 481px) {
  height: 95px;
  width: 100%;
  align-content: center;
  justify-content: center;
  }

  @media screen and (min-width: 961px) {
  height: 92px;
  width: 100%;
  align-content: center;
  justify-content: center;
  }

}


h1 {
    font-size: clamp(2.25rem, 1.0141rem + 5.0704vw, 4.5rem);
    font-weight: 600;
  text-transform: uppercase;
  margin: 10px;
}

h2 {
    font-size: var(--font-size-h3);
  font-weight: 600;
  /* margin: 10px; */
    color: var(--color-text-primary);
}
a {
    text-decoration: none;
}

p {
   font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-text-primary);
}

.details {
  
    @media screen and (min-width: 961px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
}

.casestudy-img {
    display: flex;
    justify-content: center;
    border-radius: 35px;
    width: 310px;
    /* box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.296); */
    box-shadow: 2px 7px 8px 2px #000000;
    object-fit: cover;
    object-position: center;
    margin: 20px;
    

@media screen and (min-width: 961px) {
    grid-area: 1 / 1 / 2 / 2; 
    width: 80%;
    height: 308px;
    object-fit: cover;
    object-position: center;
}

}

.btn-icon {
        border: 5px solid var(--color-text-primary);
        border-radius: 50%;
        color: var(--color-text-secondary);
        background-color: var(--color-text-primary);
        aspect-ratio: 1;
        
        svg {
            height: 30px;
            display: flex;
            justify-content: center;
            vertical-align: center;
        }
 
        &:hover {
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);
            cursor: pointer;
        }
    }

.beschrijving {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 2rem;
  
    @media screen and (min-width: 961px) {
    grid-area: 1 / 2 / 2 / 3; 
    padding: 4rem;
    }
}

.content {
      font-size: var(--font-size-p-s);
    background-color: var(--color-text-primary);
    /* box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.296); */
    box-shadow: 2px 7px 8px 2px #000000;
    border-radius: 25px;
    max-width: 120%;
    padding: 13px;
    margin: 12px;
    color: var(--color-text-secondary);

    @media screen and (min-width: 961px) {
        max-width: 90%;
        height: auto;
    }
}

.tags {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.process{
  
    align-content: center;
    justify-content: center;
    color: var(--color-highlight);
}

.participatie {
    align-content: center;
    justify-content: center;
    color: var(--color-highlight);
}

.uitvoering{
    align-content: center;
    justify-content: center;
    color: var(--color-highlight);
}